<!-- local-management.component.html -->

<div class="container">
    <h2>Listado de Locales</h2>
  
    <!-- Formulario para crear/editar local -->
    <form *ngIf="editingLocal !== null" (ngSubmit)="updateLocal()">
      <input type="text" placeholder="Nombre del Local" [(ngModel)]="localForm.nombre" name="nombre" required>
      <input type="text" placeholder="Dirección" [(ngModel)]="localForm.direccion" name="direccion" required>
      <input type="text" placeholder="Ciudad" [(ngModel)]="localForm.ciudad" name="ciudad" required>
      <button type="submit">Actualizar</button>
      <button type="button" (click)="cancelEdit()">Cancelar</button>
    </form>
  
    <!-- Lista de locales -->
    <ul>
        @for (local of locales; track $index) {
      <li>
        {{ local.nombre }} - {{ local.direccion }} - {{ local.ciudad }}
        <button (click)="editLocal(local)">Editar</button>
        <button (click)="deleteLocal(local.id)">Eliminar</button>
      </li> }
    </ul>
  
    <!-- Formulario para crear nuevo local -->
    <form (ngSubmit)="createLocal()">
      <input type="text" placeholder="Nombre del Local" [(ngModel)]="localForm.nombre" name="nombre" required>
      <input type="text" placeholder="Dirección" [(ngModel)]="localForm.direccion" name="direccion" required>
      <input type="text" placeholder="Ciudad" [(ngModel)]="localForm.ciudad" name="ciudad" required>
      <button type="submit">Guardar</button>
    </form>
  </div>
  