<footer class="">
  <div class="container-fluid download-app">
    <div class="container-fluid download-app-content">
      <div class="container download-app-content-main d-flex justify-content-center aling-items-center flex-column flex-lg-row">
        <div class="mcdonalds-image"><img src="https://i.postimg.cc/rp8Nkhr5/mcdonalds-logo-bg-red.png" alt="mcdonald-s-logo-red">
        </div>
        <div class="mcdonalds-content-text d-flex aling-items-center flex-column justify-content-center text-center text-lg-start">
          <h2>Descárgate nuestra app</h2>
          <p>Descárgate nuestra app y no te pierdas nuestras novedades</p>
        </div>
        <div class="mcdonalds-content-action">
          <a class="btn btn-light" href="">Descargar ahora</a>
        </div>
      </div>
    </div>
    <div class="container mcdonalds-app-drops is-animated">
      <svg xmlns="http://www.w3.org/2000/svg" width="1047" height="53" viewBox="0 0 1047 53" class="d-none d-lg-block"><g fill="#FFBC0D" fill-rule="evenodd"><path d="M783 0h8.898c27.346 1.109 41.205 29.39 70.124 24.947 10.435-1.602 19.12-7.673 30.019-7.762 26.084-.21 38.888 29.7 63.222 34.884 7.298 1.555 14.958 1.35 21.71-2.062 5.922-2.992 10.522-7.947 14.51-13.13 6.888-8.958 13.024-18.669 21.26-26.511 4.48-4.262 9.887-8.221 16.028-9.521 2.384-.506 4.793-.72 7.207-.845H1046M0 0c95.445 0 125.033 46.115 167.984 46.115C219.525 46.115 251.974 0 325.469 0c53.687 0 70.33 25.94 94.489 25.94C448.951 25.94 467.205 0 508.544 0" transform="translate(.32)"></path></g></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="320" height="16" viewBox="0 0 320 16" class="d-block d-lg-none"><g fill="none" fill-rule="evenodd"><g fill="#FFBC0D"><g><path d="M241 0h2.673c8.214.335 12.377 8.872 21.064 7.531 3.134-.483 5.743-2.316 9.017-2.343 7.835-.063 11.681 8.966 18.99 10.531 2.192.47 4.494.408 6.522-.623 1.779-.903 3.16-2.399 4.358-3.963 2.07-2.705 3.912-5.636 6.386-8.004 1.346-1.286 2.97-2.481 4.815-2.874.716-.153 1.44-.217 2.165-.255H320M0 0c28.903 0 37.863 13 50.87 13C66.478 13 76.304 0 98.56 0c16.258 0 21.298 7.313 28.614 7.313C135.954 7.313 141.482 0 154 0" transform="translate(0 -198) translate(0 198)"></path></g></g></g></svg>
    </div>
  </div>
  <div class="container d-flex flex-lg-row flex-column justify-content-lg-between">
    <div class="d-flex flex-row justify-content-center rrss mb-3 mb-0-lg">
      <a class="me-3" href=""><img src="https://i.postimg.cc/SRXGPJz5/facebook-svg.png" alt="facebook"></a>
      <a class="me-3" href=""><img src="https://i.postimg.cc/wj5QnK76/instagram-svg.png" alt="instagram"></a>
      <a class="me-3" href=""><img src="https://i.postimg.cc/CKmHLjGX/youtube-svg.png" alt="youtube"></a>
      <a class="" href=""><img src="https://i.postimg.cc/mDnY7B6S/twitter-svg.png" alt="twitter"></a>
    </div>
    <div class="d-flex flex-row justify-content-lg-end justify-content-around download">
      <a class="me-3" href=""><img src="https://i.postimg.cc/Prw4zvHv/disponible-google-play.png" alt="playstore"></a>
      <a class="" href=""><img src="https://i.postimg.cc/t4RsR8BR/app-store.png" alt="appstore"></a>
    </div>
  </div>
  <hr class="container">
  <div class="container d-flex flex-lg-row flex-column justify-content-between mcdonalds-links">
    <div class="d-flex flex-wrap flex-lg-row justify-content-center mb-3 mb-0-lg">
      <a class="me-3" href="">Politica y privacidad</a>
      <a class="me-3" href="">Terminos y Condiciones</a>
      <a class="me-3" href="">Proteccion de datos personales</a>
      <a href="">Bases Legales Concurso</a>
    </div>
    <div class="d-flex flex-row justify-content-lg-end aling-items-lg-center justify-content-center">
      <a class="me-1" href=""><img src="../../../assets/img/mcdonald-s-logo.svg" alt="mcdonalds"></a>
      <a class="mt-2 mb-4"href="">McDonald's 2024</a>
    </div>
  </div>
</footer>
