<div class="container-fluid carousel">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="https://i.postimg.cc/vBT71cXB/carrusel-1.jpg" class="d-block w-100 carousel-img" alt="carrusel 1">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="https://i.postimg.cc/Bb1xgkrf/carrusel-2.jpg" class="d-block w-100 carousel-img" alt="carrusel 2">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="https://i.postimg.cc/7b8SQX4G/carrusel-3.jpg" class="d-block w-100 carousel-img" alt="carrusel 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anteior</span>
    </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>
