<div class="content">
  <div class="container d-flex my-lg-5 my-3 flex-column flex-lg-row">
    <div class="front-page col-lg-5 d-flex justify-content-center">
      <img src="../../../../assets/img/register-front-page.png" class="img-fluid d-none d-lg-block" alt="">
    </div>
    <div class="col-lg-7 d-flex justify-content-center">
      <form class="w-75" [formGroup]="clientForm">
        <div class="mb-2">
          <input type="text" class="form-control mb-1" formControlName="email" placeholder="Correo electrónico">
          <div class="text-danger texto-error">
            @if(clientForm.controls['email'].invalid &&
            (clientForm.controls['email'].dirty || clientForm.controls['email'].touched)){
              @if(clientForm.controls['email'].errors?.['required']){
                <span>Este campo es requerido</span>
              }
              @if(clientForm.controls['email'].errors?.['email']){
                <span>Formato incorrecto</span>
              }
            }
          </div>
        </div>
        <div class="mb-2">
          <input type="password" class="form-control" formControlName="contrasena" placeholder="Contrasena">
          <div class="text-danger texto-error">
            @if(clientForm.controls['contrasena'].invalid &&
            (clientForm.controls['contrasena'].dirty || clientForm.controls['contrasena'].touched)){
              @if(clientForm.controls['contrasena'].errors?.['required']){
                <span>Este campo es requerido</span>
              }
              @if(clientForm.controls['contrasena'].errors?.['pattern']){
                <span>No tiene los caracteres especiales</span>
              }
            }
          </div>
        </div>
        <div class="mb-2">
          <input type="password" class="form-control" formControlName="confirmaContrasena" placeholder="Confirmar Contraseña">
          <div class="text-danger texto-error">
            @if(clientForm.controls['confirmaContrasena'].invalid &&
            (clientForm.controls['confirmaContrasena'].dirty || clientForm.controls['confirmaContrasena'].touched)){
              @if(clientForm.controls['confirmaContrasena'].errors?.['required']){
                <span>Este campo es requerido</span>
              }
              @if(clientForm.controls['confirmaContrasena'].getError('MustMatch')!=null){
                <span>Las contraseñas no coinciden</span>
              }
            }
          </div>
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
          <div class="text-danger texto-error">
            @if(clientForm.controls['nombre'].invalid &&
            (clientForm.controls['nombre'].dirty || clientForm.controls['nombre'].touched)){
              @if(clientForm.controls['nombre'].errors?.['required']){
                <span>Este campo es requerido</span>
              }
            }
          </div>
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
          <div class="text-danger texto-error">
            @if(clientForm.controls['apellidos'].invalid &&
            (clientForm.controls['apellidos'].dirty || clientForm.controls['apellidos'].touched)){
              @if(clientForm.controls['apellidos'].errors?.['required']){
                <span>Este campo es requerido</span>
              }
            }
          </div>
        </div>
        <div class="mb-1">
          <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfeno">
          <div class="text-danger texto-error">
            @if(clientForm.controls['telefono'].invalid &&
            (clientForm.controls['telefono'].dirty || clientForm.controls['telefono'].touched)){
              @if(clientForm.controls['telefono'].errors?.['required']){
                <span>Este campo es requerido</span>
              }
            }
          </div>
        </div>
        <div class="mb-1">
          <input type="text" class="form-control" formControlName="direccion" placeholder="Dirección">
          <div class="text-danger texto-error">
            @if(clientForm.controls['direccion'].invalid &&
            (clientForm.controls['direccion'].dirty || clientForm.controls['direccion'].touched)){
              @if(clientForm.controls['direccion'].errors?.['required']){
                <span>Este campo es requerido</span>
              }
            }
          </div>
        </div>
        <div class="mb-1">
          <button type="button" class="btn btn-warning w-100 mt-2" (click)="register()">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>