@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.card {
  border-color: #1565c0 !important;
  min-width: 650px;
}

.card-body {
  background-color: #424242;
  color: white;
  border-radius: 5px;
  margin-left: -3px;
  margin-right: -3px;
}
.lead {
  color: rgb(8, 123, 255);
}
.small {
  color: #959595;
}
.px-5 {
  border-top: 1px solid #1565c0;
  border-bottom: 1px solid #1565c0;
}
.py-1 {
  background-color: #1565c0;
}
.scrollable-section {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
}

.scrollable-section::-webkit-scrollbar {
  width: 8px;
}

.scrollable-section::-webkit-scrollbar-thumb {
  background-color: #1565c0;
  border-radius: 10px;
}
.button {
  background-color: #1565c0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: medium;
}
.button:hover {
  background-color: #ffffff;
  color: #1565c0;
}

.close {
  background-color: #1565c0;
  border-radius: 20%;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  top: 10px;
  left: 640px;
  position: absolute;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}
.close:hover {
  background-color: #1565c089;
  color: #7aa2cfd7;
}
